In [1]:
from transformers import AutoTokenizer, AutoModelForSequenceClassification
import torch

In [43]:
import pandas as pd

In [5]:
tokenizer = AutoTokenizer.from_pretrained('nlptown/bert-base-multilingual-uncased-sentiment')
model = AutoModelForSequenceClassification.from_pretrained('nlptown/bert-base-multilingual-uncased-sentiment')

In [51]:
df = pd.read_json("hospital_data_west.json")
df.head()

                      name                                            reviews
0  Redcliffe Labs - Mumbai  [{'comment': 'I have a good experience with do...
1  Redcliffe Labs - Mumbai  [{'comment': 'I have a good experience with do...
2            Dentzz Dental  [{'comment': 'I've always had a problem with m...
3  Redcliffe Labs - Mumbai  [{'comment': 'I have a good experience with do...
4            Dentzz Dental  [{'comment': 'I've always had a problem with m...

In [52]:
def sentiment_score(review):
    tokens = tokenizer.encode(review, return_tensors='pt')
    result = model(tokens)
    return int(torch.argmax(result.logits))+1

In [53]:
def getSentiment(i):
    rev = pd.DataFrame(df.reviews[i])
    rev['sentiment'] = rev['comment'].apply(lambda x:sentiment_score(x[:512]))
    mean = round(rev.sentiment.mean())
    return mean

In [54]:
sent_dict = {}
l = df.index.stop

In [55]:
#Removing the rating column
for i in range(l):
    no_rev = len(df.reviews[i])
    for j in range(no_rev):
        del df.reviews[i][j]['rating']

In [56]:
df.head()

                      name                                            reviews
0  Redcliffe Labs - Mumbai  [{'comment': 'I have a good experience with do...
1  Redcliffe Labs - Mumbai  [{'comment': 'I have a good experience with do...
2            Dentzz Dental  [{'comment': 'I've always had a problem with m...
3  Redcliffe Labs - Mumbai  [{'comment': 'I have a good experience with do...
4            Dentzz Dental  [{'comment': 'I've always had a problem with m...

In [28]:
#SOUTH
for i in range(l):
    hos_sentiment = getSentiment(i)
    record = {df.name[i] : hos_sentiment}
    sent_dict.update(record)
print(sent_dict)

{'Mazumdar-Shaw-Medical-Centre-Bommasandra-Bangalore': 4, 'Bangalore-Baptist-Hospital-Hebbal-Bangalore': 4, 'Aryan-Hospital-Nagarbhavi-Bangalore': 5, 'Apollo Hospital - Bannerghatta - Bangalore': 3, 'Sakra World Hospital - Bangalore - Bangalore': 2, 'Apollo Hospital - Greams Road - Chennai': 2, 'Miot Hospitals - Manapakkam - Chennai': 2, 'Prashanth Multispeciality Hospital - Chetpet - Chennai': 3, 'Vijaya Hospital - Vadapalani - Chennai': 2, 'Venkataeswara Hospital - Nandanam - Chennai': 4, 'Sri Ramakrishna Hospital - Coimbatore': 4, 'K G Hospital - Coimbatore': 4, 'G. Kuppuswamy Naidu Memorial Hospital - Coimbatore': 2, 'Kovai Medical Center and Hospital - Coimbatore': 2, 'Vikram ENT Hospital - Coimbatore': 4, 'Sreeragam Ayurveda - Maradu - Kochi': 5, 'Ernakulam Medical Centre - Kochi': 5, 'Sunrise Hospital - Cochin': 3, 'Aster Medcity - Kochi': 4, 'Medical Trust Hospital - Cochin': 2}

In [42]:
#NORTH
for i in range(l):
    hos_sentiment = getSentiment(i)
    record = {df.name[i] : hos_sentiment}
    sent_dict.update(record)
print(sent_dict)

{'Karma Ayurveda-Pitampura-Delhi': 4, 'Max Vets - Delhi': 5, 'Clove Dental - Delhi': 4, 'Moolchand Medcity - Delhi': 4, 'Indraprastha Apollo Hospital - Delhi': 3, 'Max Hospital - Pitampura - Delhi': 3, 'Fortis Escorts Hospital - Malviya Nagar - Jaipur': 3, 'SMS Hosipital - Jaipur': 3, 'Santokba Durlabhji Memorial Hospital - Jaipur': 3, 'Apex Hospitals - Malviya Nagar - Jaipur': 3, 'Candrol Cancer Treatment Center - Jaipur': 4, 'Pristyn Care - Gurgaon': 4, 'Medanta Mediclinic Cybercity - DLF Phase II - Gurgaon': 3, 'Artemis Hospital - Gurgaon': 3, 'Paras Hospital - Gurgaon': 4, 'CP VET (Centre Point Pet Hospital Pvt Ltd ) - Sushant Lok I - Gurgaon': 5, 'Paras HMRI Hospital - Patna': 4, 'Chakore Nursing Home - Rajendra Nagar - Patna': 5, 'Balaji Hospital - Sri Krishnapuri - Patna': 5, 'Netra Nidan - Kankad Bagh - Patna': 5, 'Panmati Clinic - Indira Nagar - Gorakhpur': 5}

In [50]:
#EAST
for i in range(l):
    hos_sentiment = getSentiment(i)
    record = {df.name[i] : hos_sentiment}
    sent_dict.update(record)
print(sent_dict)

{'AMRI Hospitals - Salt Lake - Kolkata': 4, 'Glitter Dental Clinic - Kalighat - Kolkata': 5, 'Ghosh Dr Sitangshu Kr Dental Clinic - South - Kolkata': 5, 'Great Lakes Dental Clinic And Orthodontic Care - Kalighat - Kolkata': 5, 'Girija Devi Orthodontic & Dental Clinic - Bhowanipore - Kolkata': 5, 'Partha Dental - Kukatpally - Hyderabad': 4, 'Prasad Hospital - Kphb Colony - Hyderabad': 4, 'KIMS Hospital - Secunderabad - Hyderabad': 3, 'Apollo Hospital - Jubilee Hills - Hyderabad': 2, 'Yashoda Hospital - Somajiguda - Hyderabad': 3, 'Rainbow Childrens Hospitals - Banjara Hills - Hyderabad': 3, 'The Dental Specialists - Banjara Hills - Hyderabad': 5, 'Fernandez Hospital - Boggulkunta - Hyderabad': 3, 'Hill View Hospital & Research Center - Bariatu - Ranchi': 5, 'Bhagwan Mahavir Medica Superspecialty Hospital - Jai Prakash Nagar - Ranchi': 5, 'Sourya Children Hospital & Research Center - Pahartoli - Ranchi': 5, 'Netram Clinic - Ahirtoli - Ranchi': 5, 'St.Vincent Hospital - Ranchi': 5, 'Chetanya Hospital - Chandigarh': 4, 'Navjot Nursing Home - Sector 65 - Chandigarh': 5}

In [57]:
#WEST
for i in range(l):
    hos_sentiment = getSentiment(i)
    record = {df.name[i] : hos_sentiment}
    sent_dict.update(record)
print(sent_dict)

{'Redcliffe Labs - Mumbai': 4, 'Dentzz Dental': 4, 'Asian Heart Hospital - Bandra East - Mumbai': 4, 'My Dentist - Vile Parle - Mumbai': 4, 'Kokilaben Dhirubhai Ambani Hospital - Andheri - Mumbai': 2, 'Grace Intensive Cardiac Care Centre - Margao - Goa': 5, 'Galaxy Hospital - Mapusa - Goa': 5, 'Manguirish Clinic - Sanquelim - Goa': 5, 'Cattle Pound - Calangute - Goa': 5, 'Cottage Hospital - Vasco da Gama - Goa': 5, 'Healing Hands Clinic - Dhole Patil Road - Pune': 4, 'Ruby Hall Clinic - Sassoon Road - Pune': 3, 'Aditya Birla Memorial Hospital - Chinchwad - Pune': 3, 'Noble Hospital - Hadapsar - Pune': 4, 'Gupte Hospital - Bhandarkar Road - Pune': 3, 'Jupiter Hospital - Cadbury Junction - Thane': 2, 'Aditi Hospital - Thane West': 5, 'Abhyankar Orthopedic Hospital - Dombivili East - Thane': 4, 'Baba General Hospital - Ambernath - Thane': 5, 'Apex Hospital - Dombivli East - Dombivili East - Thane': 5}